---
import Copy from "./icons/simple_icons/Copy.astro"
---

<footer>Todos los derechos reservados. albedev <span><Copy/></span> </footer>

<style>
    footer{
        background-color: rgba(0, 0, 0, 0.644);
        padding: 8px;
        color: whitesmoke;
        font-size: 12px;
        margin-top: 16px;
        position: absolute;
        bottom: 0;
        display: flex;
        width: 100%;
        justify-content: center;
    }
    span{
        height: 12px;
        margin-top: 2px;
        margin-left: 4px;
        
    }
</style>