<section>
    <cite>

    </cite>
    <h1>&quot;La mejor forma de predecir el futuro es implementarlo&quot;</h1>
    <h3><q>David Heinemeier Hansson – creador de Ruby on Rails</q></h3>
    

    <a class="btn-primary" hreflang="/proyects" href="#proyects">Ver Proyectos</a>

</section>

<style>
    section{
        max-width: 100%;
        display:flex;
        flex-direction: column;
        max-width: fit-content;
        margin-inline: auto;
        margin-block: 200px;
        gap:20px;
    }


    a{
        padding:16px ;
        align-self: center;
    }
        
    h1{
        
        animation: 2s ease fade_down;
        font-size: 42px;
    }
    
    h3{
        align-self: flex-end;
        animation: 1s ease fade_up;
    }

   

    @keyframes fade_up{
        from{
            opacity: 0;
            transform: translateY(30px) ;
            
        }
        to{
            opacity:1;
        }
    }

    @keyframes fade_down{
        from{
            opacity: 0;
            transform: translateY(-30px) ;
            
        }
        to{
            opacity:1;
        }
    }
</style>
