---
import Download from "./icons/svgrepo/Download.astro"
---

<section>
    <cite>

    </cite>
    <h1>&quot;La mejor forma de predecir el futuro es implementarlo&quot;</h1>
    <h3><q>David Heinemeier Hansson – creador de Ruby on Rails</q></h3>
    <div><a class="btn-primary" hreflang="/proyects" href="#proyects">Ver Proyectos</a><a download="cv_alberto_barrueta_carmona.pdf" href="cv_alberto_barrueta_carmona.pdf"><span><Download/></span> Cv</a></div>

</section>

<style>
    span{
        width: 16px;
        display: inline-block;
    }
    section{
        max-width: 100%;
        display:flex;
        flex-direction: column;
        max-width: fit-content;
        margin-inline: auto;
        margin-block: 200px;
        gap:20px;
    }

    div{
        display: flex;
        gap: 64px;
        max-width: 480px;
        margin-inline: auto;
    }


    a{
        padding:16px ;
        align-self: center;
    }

    a[download]{
        text-decoration: none;
        color: black;
        border: 1px  solid rgba(128, 128, 128, 0.336);
        display: flex;
        &:hover{
            background-color: var(--dark-blue);
        }
    }
        
    h1{
        
        animation: 2s ease fade_down;
        font-size: 42px;
    }
    
    h3{
        align-self: flex-end;
        animation: 1s ease fade_up;
    }

   

    @keyframes fade_up{
        from{
            opacity: 0;
            transform: translateY(30px) ;
            
        }
        to{
            opacity:1;
        }
    }

    @keyframes fade_down{
        from{
            opacity: 0;
            transform: translateY(-30px) ;
            
        }
        to{
            opacity:1;
        }
    }
</style>
