<section>
    <h1>Let´s go to doing greater things</h1>
    <h2>Become real your ideas throught the web development</h2>
    <a hreflang="/proyects" href="/proyects">View Proyects</a>

</section>

<style>
    section{
        max-width: 100%;
        display:flex;
        flex-direction: column;
        max-width: 1024px;
        align-items: center;
        margin: auto;
        margin-block: 200px;
        gap:20px;
    }


    a{
        padding:16px ;
        background: var(--primary);
        appearance: none;
    }
        
    h1{
        
        animation: 2s ease fade_down;
        font-size: 42px;
    }
    
    h2{

        animation: 1s ease fade_up;
    }

   

    @keyframes fade_up{
        from{
            opacity: 0;
            transform: translateY(30px) ;
            
        }
        to{
            opacity:1;
        }
    }

    @keyframes fade_down{
        from{
            opacity: 0;
            transform: translateY(-30px) ;
            
        }
        to{
            opacity:1;
        }
    }
</style>
