---
import SingleProyect from "./SingleProyect.astro";
const proyects=["RemoJobs","Restaurancy" ,"" ,"","" ,"" ,"" ]
---



<section id="proyects">
    <h1>Proyects</h1>
    <div class="gridProyects">
        {proyects.map(d=>{
            return <SingleProyect name="Restaurancy" description="lorem10" src="hero.webp"/>})}
    </div>

</section>

<style>
    div{
        display:grid;
        gap :40px;
        grid-template-columns:  repeat(auto-fit, minmax(240px,1fr));
    }

    section{
    }

    /* @media  screen and (max-width: ){
        
    } */
</style>

