---
 interface Props {
    name:string
    description:string
    src:string
}

const {name,description,src}=Astro.props
---

<article>
    <picture>
        
    <img src={src} alt="">
    <h3>{name}</h3>
    </picture>
    <div>
    <p>{description}</p>
    </div>
</article>

<style>
    
    article{
        overflow: hidden;
        border: 1px gray;
        box-shadow: 2px 1px 7px #1a1a1a;
        transition: transform color .4s ease;
        transform-origin: bottom;
        &:hover{
        box-shadow: 3px 3px 20px 2px var(--acent);
            & img{
            scale: 1.05;
            backdrop-filter: blur(8px);
            }
        }
    }

    div{
        padding: 16px;
        display: flex;
    }


    picture{
        position: relative;
        & img{
        width: 100%;
        aspect-ratio: 16/10;
        scale: 1;
        transition: scale .4s ease;
        bottom: 12px;
        }
        
    }

    
</style>