---
import Sun from "./icons/material/Sun.astro"
import Moon from "./icons/material/Moon.astro"
---


<div id="themeToggleBtn"><div class="sun"><Sun/></div><div class="moon"><Moon/></div></div>

<script>
    document.getElementById('themeToggleBtn')?.addEventListener('click', changeTheme);

    function changeTheme() {
        const body = document.body;
        localStorage.setItem('theme', body.hasAttribute("dark") ? 'light' : 'dark');
        body.toggleAttribute("dark")
    }
    </script>

<style>
    #themeToggleBtn{
    width:20px;
    height:20px;
    border-radius:999px;
    transition: color 0;
    } 

    body{
        .moon{
            display: none;
        }
        &[dark]{
            & .moon{
                display: block;
            }
            & .sun{
                display: none;
            };
        }

    }
    </style>