---
import Footer from '../components/Footer.astro';
import NavBar from '../components/NavBar.astro';
interface Props {
	title: string;
}

const { title } = Astro.props;


---

<!doctype html>
<html lang="en" >
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<script>
			 (function() {
				const savedTheme = localStorage.getItem('theme');
				if (savedTheme) {
					const body = document.body;
					if (savedTheme === 'dark') {
						body.toggleAttribute("dark")
						body.querySelector("#themeToggleBtn")?.toggleAttribute("dark")
					}
				}
			})();
			</script>
	</head>
	<body>
		<NavBar/>
		<main>
			<slot />
		</main>
		<Footer/>
	</body>
</html>



<style is:global>
	html{
		position: relative;
	}
	:root{
		scroll-behavior: smooth;
	}
	body{
	
		--acent:rgb(73, 73, 255);
		--safe:16px;
		--navColor:50, 172, 228;
		--links-rgb: 132, 58, 206;
		--gradone:#e3ffe7;
		--gradtwo:#d9e7ff;
		--primary:#492ee0;
		--secondary:#ab2dff;
		--base:#141316;
		--gradone:#e3ffe7;
		--gradtwo:#d9e7ff;
		--neutral:#d9e7ff;

	}

	body[dark]{
		--acent:rgb(73, 73, 255);
		--startSpace:16px;
		--navColor:50, 172, 228;
		--links-rgb: 132, 58, 206;
		--gradone:#e3ffe7;
		--gradtwo:#d9e7ff;
		--primary:#6d53ff;
		--secondary:#b047f7;
		--base:#e0e0e0;
		--gradone:#4b6cb7;
		--gradtwo:#182848;

	}

	

	*{ box-sizing: border-box;}

	body{
		margin: 0;
		font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
		background: linear-gradient(90deg, var(--gradone) 0%, var(--gradtwo) 100%);;
    	color: var(--base);
    	transition: background-color 0.5s ease;
	}

	main{
		padding-inline: var(--safe);
	}



</style>




