---
import Footer from '../components/Footer.astro';
import NavBar from '../components/NavBar.astro';
interface Props {
	title: string;
}

const { title } = Astro.props;


---

<!doctype html>
<html lang="en" >
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<script>
			 (function() {
				const savedTheme = localStorage.getItem('theme');
				if (savedTheme) {
					const body = document.body;
					if (savedTheme === 'dark') {
						body.toggleAttribute("dark")
						body.querySelector("#themeToggleBtn")?.toggleAttribute("dark")
					}
				}
			})();
			</script>
	</head>
	<body>
		<NavBar/>
		<main>
			<slot />
		</main>
		<Footer/>
	</body>
</html>



<style is:global>
	html{
		position: relative;
	}
	:root{
		scroll-behavior: smooth;
	}
	body{
		--light-blue:#007bff;
		--acent:#40f349;
		--safe:16px;
		--navColor:var(--gradone);
		--links-rgb: 132, 58, 206;
		--gradone:#f8f8f8;
		--gradtwo:#d9e7ff;
		--primary:#492ee0;
		--secondary:#ab2dff;
		--base:#141316;
		--gradone:#e3ffe7;
		--gradtwo:#d9e7ff;
		--neutral:#abb2c4;
		--btn-primary:#007bff;

	}

	body[dark]{
		--acent:#40f349;
		--startSpace:16px;
		--navColor:var(--gradone);
		--links-rgb: 132, 58, 206;
		--gradone:#e3ffe7;
		--gradtwo:#d9e7ff;
		--primary:#6d53ff;
		--secondary:#b047f7;
		--base:#e0e0e0;
		--gradone:#142a5c;
		--gradtwo:#182848;
		--neutral:#ddd;
		

	}


	body{
	
	--base:#141316;
	--base9:#141316ef;
	--base8:#141316df;
	--base7:#141316cf;
	--base6:#141316bf;

}

body[dark]{
	
	--base:#e0e0e0;
	--base9:#e0e0e0ef;
	--base8:#e0e0e0df;
	--base7:#e0e0e0cf;
	--base6:#e0e0e0bf;

}

.base9{color: var(--base9);}
.base8{color: var(--base8);}
.base7{color: var(--base7);}
.base6{color: var(--base6);}
.btn-primary{
	background-color:#007bff;
	text-decoration: none;
	transition: background-color 0.3s ease,scale .2s ease;
    border:none;
	color: #fff;
    &:active{
        scale: .95;
    }
}


.btn-primary:hover{
	background-color: #0056b3;
}

	

	

	*{ box-sizing: border-box;}

	body{
		margin: 0;
		font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
		background: linear-gradient(90deg, var(--gradone) 0%, var(--gradtwo) 100%);;
    	color: var(--base);
    	transition: background-color 0.5s ease;
	}

	main{
		padding-inline: var(--safe);
		max-width: 1240px;
		margin-inline: auto;
	}

	section{
		margin-block: 200px;
	}

	section>h2:first-child{
		margin:0;
		padding-block: 64px;
	}



</style>




